body {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2 {
  color: purple;
  font-size: 24px;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 1.5em;
}

img {
  border-radius: 50%;
  max-width: 500px;
  max-height: 500%;
}

ul {
  list-style: none;
  padding: 0px;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hide {
  display: none;
}

button {
  color: white;
  background-color: black;
  border-radius: 10px;
  border: 2px solid white;
  height: 3em;
  margin-bottom: 20px;
}

button:hover {
  color: black;
  background-color: white;
  border: 2px solid black;
}
